<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jbapplab.navigationdrawertabs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SelectCategoryActivity" />
        <activity android:name=".UserAreaActivity" />
        <activity android:name=".m_StoryDetailActivity.StoryDetailActivity" />
        <activity android:name=".m_StoryDetailActivity.StoryDetailActivityCRUD" />
        <activity android:name=".SelectStoriesActivity" />
        <activity android:name=".SelectSavedTypeActivity" />
        <activity android:name=".RetrieveStoriesCRUDActivity" />
        <activity android:name=".SelectCreateTypeActivity" />
        <activity android:name=".MetaFirstActivity" />
        <activity android:name=".RetrieveStoriesActivity" />
        <activity android:name=".MyStoriesActivity" />
        <activity android:name=".MyFavouritesActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".HelpActivity"></activity>
    </application>

</manifest>